.DescriptionBox{
    margin: 120px 170px;
}
.DescriptionBox-nav{
    display: flex;
}
.DescriptionBox-navbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.DescriptionBox-navbox-fade{
background: #fbfbfb;
color: #555;
 display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
    font-weight: 600;
    border: 1px solid #d0d0d0;
}
.DescriptionBox-desc{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}